#side-bar {
    display: flex;
    flex-direction: column;
    z-index: 10;
    align-self: flex-end;
    width: 30%;
    float: right;
    position: relative;
    top: 34rem;
    right: 3rem;

    .list-item {
        position: relative;
        margin-bottom: 10px;
        text-align: right;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 300;
    }
}