.nav-bar {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 100%;
    z-index: 3;
    min-height: 500px;

        .nav-container {
        display: flex;
        flex-direction: column;
        transition: all .3s ease-in-out;
        font-weight: 300;
        font-size: 12px;
    }

    .nav-item {
        text-align: left;
        height: 8vh;
        text-decoration: none;
        color: #777777;
        line-height: 1;
    }

    .active {
        color: #333;
        font-size: 14px;
        transition: all .3s ease-in-out;
    }

}

@keyframes logo {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0;
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
    
}