.page {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .fake-web {
        width: 70%;
        height: 76%;
        border: 1px solid #6e6e6e;
        border-radius: 12px;
        color: #343434;
        background: none;
        text-align: center;
        animation: fadeIn 2s 1.4s;
        animation-fill-mode: both;

        .browser-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 6%;
            align-items: center;
            background: #e7e7e7;
            border-radius: 12px 12px 0 0;
            border-bottom: 1px solid #6e6e6e;
            z-index: 0;
            padding-top: 8px;
            padding-bottom: 8px;

            .browser-menu-icon {
                display: flex;
                flex-direction: row;
                background: none;
                justify-content: space-between;
                align-items: center;
                width: 4%;

                .dot-1 {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    // margin-right: 4px;
                    background: #b6b6b6;
                }

                .dot-2 {
                    @extend .dot-1;
                    background: #5e5d5d;
                }

                .dot-3 {
                    @extend .dot-1;
                    background: #343434;
                }

            }

            .fake-search-bar {
                font-family: 'Gaegu';
                width: 88%;
                background: white;
                border-radius: 10px;
                padding: 6px;
                color: #545f71;
                font-size: 1rem;
            }

        }
        
    }

}

@media screen and (max-width: 500px) {
    .fake-web {
        width: 100%;

        .browser-menu-icon {
            display: none;
    
            .dot-1, .dot-2, .dot-3 {
                display: none;
            }
    
        }
    }
    
}