.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 10;
    padding: 1.6em 5em;

    .logo-img {
        width: 3.2em;
    }

    .nav-btn {
        font-family: "Libre Baskerville", sans-serif;
        text-decoration: none;
        color: #fff;
        align-items: center;
        font-size: 1.2rem;
        text-transform: capitalize;
    }

}