.navbar {
    display: flex;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 1.6rem 0;
    z-index: 10;
    animation: logo 1s ease-in-out;
    animation-fill-mode: both;

    .logo {
        margin-left: 6%;
    }

    nav {
        margin-right: 6%;
        transition: all .3s ease-in-out;
    }

    .nav-item {
        margin-left: 2.4rem;
        text-decoration: none;
        color: #333;
        font-size: 1.2rem;

        &:hover {
            text-decoration: underline;
        }
    }



}

@keyframes logo {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0;
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
    
}