.project-content {
    position: absolute;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    background: #333;
    padding: 12%;
    
    .content {
        flex-direction: column;
        align-items: center;

        .title-l {
            font-size: 2rem;
            margin-bottom: 2rem;

            .title-s {
                font-size: 12px;
                margin-right: 12px;
                
            }
        }
        
        .project-img {
            max-width: 78%;
            border-radius: 2%;
            box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.4);
            margin-bottom: 2rem;
        }

        .demo {
            font-size: 24px;
            margin-bottom: 2rem;
            margin-left: 14px;
            text-decoration: none;
            color: #fff;

        }
        
    }
   
}