body {
    margin: 0;
    font-family: 'Libre Baskerville', 'sans-serif';
    color: #ffffff;
    display: flex;
    overflow: hidden;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}