.projects-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 84%;
    width: 90%;
    
    .table-panel {
        padding: 0;
    }

}



