.projects-container  {
    display: block;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 90%;
    width: 90%;
    
    .tab-panel-container {
        width: 100% !important;
        padding: 0 !important;
        height: 80%;

    }

}



