 .container {
    display: block;
    position: absolute;
    height: 56%;
    left: 0;
    width: 100%;

    .hero-bg {
        display: block;
        max-width: 100%;
        position: relative;
        top: -30px;
    }

    h1 {
        position: relative;
        max-width: 830px;
        height: 100%;
        top: -290px;
        left: 120px;
        margin: 0;
        font-size: 6.2em;
        font-weight: 300;
        line-height: normal;
     }
 }
 
 
 