.projects-swiper {
    display: flex;
    flex-direction: column;

}

.swiper-button-disabled {
    color: #777 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 32px;
}

.swiper-button-next, .swiper-button-prev {
    color: #5d5d5d !important;
}

.swiper-pagination {
    z-index: 1;
    position: absolute;
    top: 80px;
}