.home-content {
   display: flex;
   position: absolute;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background: #d3b8a2;
   
   .content-container {
      display: flex;
      flex-direction: row;

      .loading-line-h {
         position: absolute;
         top: 50vh;
         height: 0.6px;
         width: 78vw;
         background: #fff;
         animation: line-h 1.5s ease-in-out 1;
     }

     .loading-line-v {
         position: absolute;
         left: 120px;
         top: 24vh;
         width: 0.6px;
         height: 50vh;
         background: #fff;
         animation: line-v 1.5s ease-in-out 1;
     }


     .home-title {
      position: absolute;
      top: 38vh;
      padding-left: 120px;
      float: left;
      font-size: 4.4rem;
      font-family: 'Libre Baskerville';

      .design-link, .word-a {
         animation: word 1.5s ease-in-out .2s 1;
         animation-fill-mode: both;
      }
   }

      
   
   }
}

@keyframes line-h {
   from {
      transform: translateX(0) scale(0);

   }
   to {
      transform: translateX(1) scale(1);
   }
   
}

@keyframes line-v {
   from {
      transform: translateY(0) scale(0);

   }
   to {
      transform: translateY(1) scale(1);
   }
   
}

@keyframes word {
   from {
      transform: translateY(-100px);
      opacity: 0;

   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
   
}